<footer class="bg-dark text-white mt-4">
  <div class="container-fluid py-3">
      <div class="row">
          <div class="col-md-4">
              <h5>Sergey Andreev</h5></div>
          <div class="col-md-4 footer-align">
              <h4>My social links:</h4>
          </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row">
          <div class="col-md-4">Minsk, Belarus<span class="small"><br>+375 (33) 659-14-43</span></div>
          <div class="col-md-4 footer-icon-href">
              <a href="https://github.com/k3ep3r/"><i class="fab fa-github fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/sergey-andreev-4916b585/"><i class="fab fa-linkedin fa-2x"></i></a>
              <a href="tg://resolve?domain=k3ep3r"><i class="fab fa-telegram fa-2x"></i></a>
              <a href="#"><i class="fas fa-envelope fa-2x"></i></a>
              <a href="viber://add?number=%2B375336591443"><i class="fab fa-viber fa-2x"></i></a>
              <a href="#"><i class="fab fa-whatsapp fa-2x"></i></a>
          </div>
          <div class="col-md-4 text-right small align-self-end">©2018 Sergey Andreev</div>
      </div>
  </div>
</footer>